.page-chart-container {
  width: 100%;
  padding-bottom: 20px;
}
.chart-container {
    display: flex;
    padding: 0 10px;
  }
  
  .top-related {
    background-color: var(--color-dimgray);
    padding-top: 30px;
    padding-left: 30px;
    border-radius: 10px;
    flex: 1;
  }
  
  .top-related-title {
    font-size: 36px;
    color: #FFF;
  }
  
  .games-container {
    display: flex;
    justify-content: center;
  }
  
  .games-list {
    width: 100%;
  }
  
  .game-result {
    display: flex;
    align-items: center;
  }
  
  .game-title {
    font-size: 24px;
    color: var(--color-turquoise);
    margin-right: 40px;
    width: 400px;
    text-align: right;
  }
  
  .game-rating {
    height: 20px;
    width: 300px;
    background-color: var(--color-coral);
    border-radius: 10px;
  }
  
  .charts {
    color: #FFF;
    width: 100%;
    margin-left: 10px;
  }
  
  .chart-title {
    font-size: 28px;
  }
  
  .platform-chart {
    padding-top: 15px;
    padding-left: 25px;
    height: 373px;
    margin-bottom: 10px;
    background-color: var(--color-dimgray);
    border-radius: 10px;
  }
  
  .gender-chart {
    padding-top: 15px;
    padding-left: 25px;
    height: 373px;
    background-color: var(--color-dimgray);
    border-radius: 10px;
  }

  @media (max-width: 576px) {
    .chart-container {
      display: flex;
      flex-direction: column;
    }

    .top-related {
      width: 230%;
      margin-bottom: 20px;
    }

    .charts {
      display: flex;
      flex-direction: row;
    }

    .platform-chart {
      margin-right: 5px;
    }
  }